<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="musicCBean"
          class="com.ladimirovich.springlesson.ClassicalMusic">
    </bean>

    <bean id="musicRBean"
          class="com.ladimirovich.springlesson.RockMusic">
    </bean>

    <bean id="musicJBean"
          class="com.ladimirovich.springlesson.JazzMusic">
    </bean>

    <bean id="musicPlayerBean"
          class="com.ladimirovich.springlesson.MusicPlayer">
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musics">
            <util:list value-type="com.ladimirovich.springlesson.Music">
                <ref bean="musicCBean"/>
                <ref bean="musicRBean"/>
                <ref bean="musicJBean"/>
            </util:list>
        </property>
    </bean>
</beans>